<div class="preloader">
  <div class="anim pulse"><i class="ion-ios-bolt-outline"></i></div>
</div>
<div class="preloader-left"></div>
<div class="inline-menu-container">
  <span class="status">Disponível</span>
  <ul class="inline-menu">
    <li class="about menu-item">Resumo</li>
    <li class="portfolio menu-item">Portfólio</li>
    <li class="contact menu-item">Contato</li>
    <li id="close" class="menu-item">
      <i class="ion-ios-close-empty"></i>
    </li>
  </ul>
</div>
<section class="home">
  <div class="bgScroll"></div>
  <div class="overlay opacity7"></div>
  <div class="container">
    <div class="name-block">
      <div class="name-block-container">
        <h1><span>Olá, Sou o </span>Henrique Agustini</h1>
        <h2>Desenvolvedor Full Stack Júnior</h2>
        <a target="_blank" href="" class="btn btn-download">Baixar Currículo</a>
        <ul class="social">
          <li>
            <a href="https://www.linkedin.com/" target="_blank"
              ><i class="ion-social-linkedin"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/"
              ><i class="ion-social-github" target="_blank"></i
            ></a>
          </li>
          <li>
            <a href="https://wa.me/"
              ><i class="ion-social-whatsapp" target="_blank"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-blocks">
      <div class="about-block menu-block">
        <div class="about-block-container">
          <h2 class="about menu-item">Resumo</h2>
        </div>
      </div>
      <div class="portfolio-block menu-block">
        <div class="portfolio-block-container">
          <h2 class="portfolio menu-item">Portfólio</h2>
        </div>
      </div>
      <div class="contact-block menu-block">
        <div class="contact-block-container">
          <h2 class="contact menu-item">Contato</h2>
        </div>
      </div>
    </div>
    <div class="content-blocks about">
      <app-resume></app-resume>
    </div>
    <div class="content-blocks portfolio">
      <app-portfolio></app-portfolio>
    </div>
    <div class="content-blocks contact">
      <app-contact></app-contact>
    </div>

    <div class="content-blocks pop">
      <div id="close-pop" class="close-pop">
        Fechar <i class="ion-ios-close-empty"></i>
      </div>
      <section class="content"></section>
    </div>
  </div>
</section>
