<section class="content" id="about">
  <div class="block-content">
    <h3 class="block-title">Perfil</h3>
    <h3 class="subheading">
      Olá sou o Henrique
      <strong>Desenvolvedor Full Stack Júnior</strong>
    </h3>
    <p>Entusiasta de programação que procura aprender mais a cada dia.</p>
    <div class="info-list row">
      <div class="col-sm-6"><span>Nome: </span> Henrique S. Agustini</div>
      <div class="col-sm-6">
        <span>Localização: </span> Blumenau, Santa Catarina, Brasil.
      </div>
      <div class="col-sm-6"><span>E-mail: </span> henrique80@gmail.com</div>
    </div>
  </div>
  <div class="block-content">
    <h3 class="block-title">Competências</h3>

    <div *ngFor="let competx of cv.competencias">
      <label class="progress-bar-label">{{ competx.nome }}</label>
      <div class="progress">
        <div
          [style.width.%]="competx.valor"
          class="progress-bar"
          role="progressbar"
          attr.aria-valuenow="{{ competx.valor }}"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <span>{{ competx.valor }}%</span>
        </div>
      </div>
    </div>
  </div>
  <div class="block-content">
    <h3 class="block-title">Cursos e Certificados</h3>
    <div class="timeline experience">
      <div class="row">
        <div class="col-md-12">
          <div class="exp-holder">
            <div *ngFor="let certx of cv.certificados">
              <div class="exp">
                <div class="hgroup">
                  <h4>
                    <span>{{ certx.Curso }}</span>
                  </h4>
                  <h5>{{ certx.Data }}</h5>
                </div>
                <p>
                  {{ certx.Empresa }} |
                  <a href="{{ certx.Url }}" target="_blank"
                    ><span>Ver certificado</span></a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-content">
    <h3 class="block-title">Formação</h3>
    <div class="timeline education">
      <div class="row">
        <div class="col-md-12">
          <div class="exp-holder">
            <div *ngFor="let formx of cv.formacao">
              <div class="exp">
                <div class="hgroup">
                  <h4>
                    {{ formx.Curso }} | <span>{{ formx.Tipo }}</span>
                  </h4>
                  <h5>{{ formx.Data }}</h5>
                </div>
                <p>
                  {{ formx.Empresa }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-content">
    <h3 class="block-title">Serviços</h3>
    <div class="row">
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <i class="ion-monitor"></i>
        </div>
        <h4>Desenvolvedor Front-End</h4>
        <p>
          Responsável pela criação, desenho, atualização, interatividade e
          aparência de páginas, softwares e programas de computador.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <i class="ion-code"></i>
        </div>
        <h4>Desenvolvedor Back-End</h4>
        <p>
          Utilizando linguagens de programação para construir sistemas complexos
          voltados ao serviço do usuário.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <i class="ion-paintbucket"></i>
        </div>
        <h4>UX/UI Designer</h4>
        <p>
          Responsável pela experiência e navegação dos usuários em
          multiplataformas como websites e aplicações mobile.
        </p>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12 btn-email">
      <a class="btn lowercase" href="mailto:henrique80@gmail.com"
        >henrique80@gmail.com</a
      >
    </div>
  </div>
</section>
