<section class="content" id="about">
  <div class="block-content">
    <h3 class="block-title">Perfil</h3>
    <h3 class="subheading">
      Olá sou o Henrique
      <strong>Desenvolvedor Full Stack Júnior</strong>
    </h3>
    <p>Entusiasta de programação que procura aprender mais a cada dia.</p>
    <div class="info-list row">
      <div class="col-sm-6"><span>Nome: </span> Henrique S. Agustini</div>
      <div class="col-sm-6">
        <span>Localização: </span> Blumenau, Santa Catarina, Brasil.
      </div>
      <div class="col-sm-6"><span>E-mail: </span> henrique80@gmail.com</div>
    </div>
  </div>
  <div class="block-content">
    <h3 class="block-title">Competências</h3>
    <label class="progress-bar-label">HTML</label>
    <div class="progress">
      <div
        style="width: 20%"
        class="progress-bar"
        role="progressbar"
        aria-valuenow="20"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <span>20%</span>
      </div>
    </div>
    <label class="progress-bar-label">CSS</label>
    <div class="progress">
      <div
        style="width: 60%"
        class="progress-bar"
        role="progressbar"
        aria-valuenow="60"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <span>60%</span>
      </div>
    </div>
    <label class="progress-bar-label">JavaScript</label>
    <div class="progress">
      <div
        style="width: 30%"
        class="progress-bar"
        role="progressbar"
        aria-valuenow="30"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <span>30%</span>
      </div>
    </div>
    <label class="progress-bar-label">MySQL</label>
    <div class="progress">
      <div
        style="width: 70%"
        class="progress-bar"
        role="progressbar"
        aria-valuenow="70"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <span>70%</span>
      </div>
    </div>
    <label class="progress-bar-label">SQL</label>
    <div class="progress">
      <div
        style="width: 70%"
        class="progress-bar"
        role="progressbar"
        aria-valuenow="70"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <span>70%</span>
      </div>
    </div>
    <label class="progress-bar-label">React</label>
    <div class="progress">
      <div
        style="width: 10%"
        class="progress-bar"
        role="progressbar"
        aria-valuenow="10"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <span>10%</span>
      </div>
    </div>
    <label class="progress-bar-label">Java</label>
    <div class="progress">
      <div
        style="width: 45%"
        class="progress-bar"
        role="progressbar"
        aria-valuenow="45"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <span>45%</span>
      </div>
    </div>
    <label class="progress-bar-label">Spring</label>
    <div class="progress">
      <div
        style="width: 20%"
        class="progress-bar"
        role="progressbar"
        aria-valuenow="20"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <span>20%</span>
      </div>
    </div>
    <label class="progress-bar-label">Angular</label>
    <div class="progress">
      <div
        style="width: 20%"
        class="progress-bar"
        role="progressbar"
        aria-valuenow="20"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <span>20%</span>
      </div>
    </div>
    <label class="progress-bar-label">MongoDB</label>
    <div class="progress">
      <div
        style="width: 20%"
        class="progress-bar"
        role="progressbar"
        aria-valuenow="20"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <span>20%</span>
      </div>
    </div>
    <label class="progress-bar-label">CSS3</label>
    <div class="progress">
      <div
        style="width: 80%"
        class="progress-bar"
        role="progressbar"
        aria-valuenow="80"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <span>80%</span>
      </div>
    </div>
  </div>
  <div class="block-content">
    <h3 class="block-title">Cursos e Certificados</h3>
    <div class="timeline experience">
      <div class="row">
        <div class="col-md-12">
          <div class="exp-holder">
            <div class="exp">
              <div class="hgroup">
                <h4><span>UX Designer</span> @ Apple Inc</h4>
                <h5>Feb 2017 - <span class="current">Present</span></h5>
              </div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reprehenderit voluptatum saepe quo unde et sequi quibusdam ea
                eos vel optio, quod iure, neque magni accusantium rerum autem
                aliquam, sed ratione!
              </p>
            </div>
            <div class="exp">
              <div class="hgroup">
                <h4><span>Research Assistant</span> @ Facebook</h4>
                <h5>Sept 2017 - Nov 2017</h5>
              </div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis adipisci porro error incidunt similique dicta, modi,
                natus, ducimus cupiditate eligendi vero dolor rerum animi cumque
                laborum et dignissimos nisi quas?
              </p>
            </div>
            <div class="exp">
              <div class="hgroup">
                <h4><span>Intern</span> @ Google</h4>
                <h5>May 2017 - Sept 2017</h5>
              </div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis adipisci porro error incidunt similique dicta, modi,
                natus, ducimus cupiditate eligendi vero dolor rerum animi cumque
                laborum et dignissimos nisi quas?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-content">
    <h3 class="block-title">Formação</h3>
    <div class="timeline education">
      <div class="row">
        <div class="col-md-12">
          <div class="exp-holder">
            <div class="exp">
              <div class="hgroup">
                <h4>
                  MSc in Computer Graphics |
                  <span>Oxford University</span>
                </h4>
                <h5>Sept 2017 - Nov 2017</h5>
              </div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis adipisci porro error incidunt similique dicta, modi,
                natus, ducimus cupiditate eligendi vero dolor rerum animi cumque
                laborum et dignissimos nisi quas?
              </p>
            </div>
            <div class="exp">
              <div class="hgroup">
                <h4>
                  BSc(Hons) in Computer Science |
                  <span>Cambridge University</span>
                </h4>
                <h5>Mar 2017 - May 2017</h5>
              </div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis adipisci porro error incidunt similique dicta, modi,
                natus, ducimus cupiditate eligendi vero dolor rerum animi cumque
                laborum et dignissimos nisi quas?
              </p>
            </div>
            <div class="exp">
              <div class="hgroup">
                <h4>A Levels | <span>London Public Schoo</span></h4>
                <h5>May 2017 - Sept 2017</h5>
              </div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis adipisci porro error incidunt similique dicta, modi,
                natus, ducimus cupiditate eligendi vero dolor rerum animi cumque
                laborum et dignissimos nisi quas?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-content">
    <h3 class="block-title">Serviços</h3>
    <div class="row">
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <i class="ion-monitor"></i>
        </div>
        <h4>Desenvolvedor Front-End</h4>
        <p>
          Responsável pela criação, desenho, atualização, interatividade e
          aparência de páginas, softwares e programas de computador.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <i class="ion-code"></i>
        </div>
        <h4>Desenvolvedor Back-End</h4>
        <p>
          Utilizando linguagens de programação para construir sistemas complexos
          voltados ao serviço do usuário.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <i class="ion-paintbucket"></i>
        </div>
        <h4>UX/UI Designer</h4>
        <p>
          Responsável pela experiência e navegação dos usuários em
          multiplataformas como websites e aplicações mobile.
        </p>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12 btn-email">
      <a class="btn lowercase" href="mailto:henrique80@gmail.com"
        >henrique80@gmail.com</a
      >
    </div>
  </div>
</section>
